<div class="container">
<h1>Ocurrió un Error</h1>
<h2>Por favor verifica y vuelve a intentarlo</h2>
<hr>
<p>Detalles del Error: <strong>{{error}}</strong></p>
<p><a href="/" class="btn btn-primary">Aceptar</a></p>
</div>